/* 全体設定 */

body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.all-content {
    filter: brightness(100%);
    transition: all 0.3s ease 0s;
}

h1 {
    font-size: 2em;
    margin: 40px auto;
}

h2 {
    margin-bottom: 0.5em;
}

h1,
h2,
h3 {
    text-align: center;
}


select {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ddd;
    color: black;
    height: fit-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

table {
    margin: 20px auto;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    height: 8px;
    width: 90%;
    max-width: 290px;
    margin-bottom: 30px;
}

::-webkit-progress-bar {
    background-color: white;
}

::-webkit-progress-value {
    background-color: var(--progress-color);
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-out 0s;
}

.default-btn {
    background-color: #333;
    color: white;
}

.default-btn:hover {
    background-color: #555;
}

.default-btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.titleLogo {
    width: 50%;
    margin-top: 23px;
    text-align: center;
}

.titleLogo2 {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}

#startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 10px;
    background-color: #ff503c;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

#startButton:hover {
    background-color: #ff7464;

    #startButtonArrow {
        transform: translateX(15px) rotate(45deg);
    }
}

#startButtonArrow {
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
    transition: transform 0.2s ease;
}

.side-bar {
    text-align: left;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    /*
    gap: 1px;
    background-color: #666; */
}

.side-bar button {
    position: relative;
}

.side-bar span {
    position: absolute;
    padding: 1px 4.5px;
    top: 0px;
    right: 5px;
    z-index: 999;
}

.side-bar-content {
    background: linear-gradient(180deg, rgb(255 255 255), rgb(255 255 255/0.8) 20%);
    padding: 15px;
    border-radius: 0 0 5px 5px;
    height: 420px;
}

.side-bar-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    height: fit-content;
    width: 60%;
    margin: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.1s ease-out 0s;
}

.side-bar-button.abled {
    border-top: 5px solid #e9e9e9;
    background-color: #e9e9e9;
}

.side-bar-button.abled:hover {
    border-top: 5px solid #cecece;
    background-color: #cecece;
}

.side-bar-button.current {
    border-top: 5px solid #2589d0;
    background-color: #fff;
}

.hint-button {
    border-top-left-radius: 10px;
}

.answer-button {
    border-top-right-radius: 10px;
}

#startButton {
    margin-top: 50px;
}


/* 背景設定 */

.notebook {
    width: 80%;
    max-width: 800px;
    height: 500px;
    z-index: 99;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.notebook.open:not(.hidden) {
    display: flex;
}

.notebook.closed {
    background-color: #000;
    color: white;
    text-align: center;
    justify-content: center;
}

.notebook.open::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 1px;
    height: calc(100% - 100px);
    background-color: #999;
}

.notebook.open .left,
.notebook.open .right {
    width: 50%;
}

.notebook.open .left {
    margin-right: 40px;
}

.select-label {
    display: inline;
}

.timer-score {
    font-size: 1.3em;
    text-align: center;
    background-color: rgb(255 255 255/0.5);
    height: 287px;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    padding-top: 50px;
    margin-top: 30px;
}

#remainingTime,
#remainingTimeAnswer,
#remainingTimeFixedTime {
    display: block;
    font-size: 4.5em;
    margin-bottom: -5px;
}

#hintCount,
#hintCountAnswer,
#hintCountFixedTime {
    font-size: 1.4em;
}

.sticky-note {
    position: relative;
    background-color: #f3e672;
    height: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    line-height: 30px;
    overflow-y: auto;
    scrollbar-color: #fff transparent;
}

#hintTitle {
    margin: 0;
    margin-left: 60px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.3em;
}

.pin-image {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 40px;
    height: 40px;
    opacity: 0.15;
    z-index: 10;
}

#confirmHint {
    display: inline;
}

.align-right {
    text-align: right;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.hint-navigation button {
    font-size: 1em;
    color: #333;
    background-color: #d3c866;
    padding: 5px;
    margin: 0 15x;
    border-radius: 50%;
}

#hintCounter {
    position: absolute;
    top: 15px;
    right: 70px;
    z-index: 10;
}

#prevHint {
    position: absolute;
    top: -5px;
    right: 40px;
    z-index: 10;
}

#nextHint {
    position: absolute;
    top: -5px;
    right: 10px;
    z-index: 10;
}

.hint-navigation button:hover {
    background-color: #a89f52;
}

.hint-navigation span {
    margin-right: 10px;
    font-size: 1.2em;
}

.special-hint-button:hover {
    background-color: #e5d22b;
}

.centered-select,
.centered-slider {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.centered-slider {
    width: 60%;
}

.finalRank {
    background-color: #fff700;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.5em;
}

.qr-code {
    font-size: 0.8em;
    color: #ddd;
}

.qr-code-img {
    max-height: 100px;
    float: left;
}

#endButton {
    background-color: #444;
    color: white;
    margin-right: 0;
    padding: 5px 10px;
    font-size: 0.8em;
}

/* アニメーション */

@keyframes flipHalf {
    0% {
        animation-timing-function: ease-in;
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@keyframes flipFinal {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    100% {
        clip-path: inset(0);
        animation-timing-function: ease-out;
    }
}

.slidein {
    opacity: 0;
    transform: translateX(100%);
    /* 初期位置は右側の画面外 */
    animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
        /* スライドイン後の位置 */
    }
}

/* 各行に異なる遅延を与える */

.slidein:nth-child(1) {
    animation-delay: 1s;
}

.slidein:nth-child(2) {
    animation-delay: 1.3s;
}

.slidein:nth-child(3) {
    animation-delay: 1.6s;
}

.slidein:nth-child(4) {
    animation-delay: 1.9s;
}

.slidein:nth-child(5) {
    animation-delay: 2.2s;
}


.notebook.flip {
    animation: flipHalf 0.3s forwards;
}

.notebook.flip-final {
    animation: flipFinal 0.3s forwards;
}

.fade-in-opacity {
    filter: blur(5px);
    opacity: 0;
    animation: fade-in 1s ease forwards;
}

/* フェードインのアニメーション定義 */

@keyframes fade-in {
    to {
        filter: blur(0px);
        opacity: 1;
        /* フェードイン後、完全に表示 */
    }
}

.correct-label {
    font-size: 1.5em;
    animation: fade-in-down 0.75s ease-out forwards;
}

/* フェードインのアニメーション定義 */

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        font-size: 2em;
        opacity: 1;
        transform: translateY(0);
    }
}

/* 各行に異なる遅延を与える */

.fade-in-opacity:nth-child(2) {
    animation-delay: 4s;
}

.fade-in-opacity:nth-child(3) {
    animation-delay: 2.5s;
}

.fade-in-opacity:nth-child(4) {
    animation-delay: 3s;
}

/* 表示設定用 */

.hidden {
    display: none;
}

/* アッペン */

.side-tab {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.side-tab>label {
    flex: none;
    padding: .7em 1em;
    border-right: 1px solid #f0f0f0;
    border-radius: 0;
    background-color: #e9f0f6;
    color: #535353;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.side-tab>label:hover {
    opacity: .8;
}

.side-tab input {
    display: none;
}

.side-tab>div {
    display: none;
    width: 100%;
    padding: 1.5em 1em;
    background-color: #fff;
}

.side-tab label:has(:checked) {
    background-color: #fff;
    border-color: #2589d0 #fff #f0f0f0;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    border-radius: 5px;
    color: #333333;
}

.side-tab label:has(:checked)+div {
    display: block;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    background: #999;
    height: 8px;
    border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #4cabe2;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    background-color: #4cabe2;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 5px 7px rgba(0, 30, 255, 0.1)
}

input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 1px 7px rgba(0, 30, 255, .2)
}

input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 1px 7px rgba(0, 30, 255, .2)
}

/* アラートボックスの基本スタイル */
.alert-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: fade-in-popup 0.15s ease-out forwards;
}

@keyframes fade-in-popup {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

/* アラートの内容部分 */
.alert-content {
    color: black;
    background-color: white;
    margin: 3em auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* 閉じるボタン */
.close-btn {
    margin: 0 0 0 auto;
    padding: 0;
    font-size: 2em;
    cursor: pointer;
    color: black;
    background-color: transparent;
}

.yes-btn {
    background-color: rgb(94, 110, 255);
}

.no-btn {
    background-color: rgb(113, 113, 113);
}

.yes-btn,
.no-btn {
    display: inline;
    font-size: 1em;
    margin: 20px 10px 0 10px;
    color: white;
    width: 120px;
}

.correct-label {
    font-size: 1.5em;
}

/* ノートの背景 */

#waitingScreen {
    background-image: url("image/bg-5.png");
    background-size: cover;
    background-position: center;
    z-index: -99;
}

#waitingScreen::after {
    content: "";
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

#mainScreen,
#fixedTimeScreen,
#answerScreen {
    background-image: url("image/bg-4.png");
    background-size: cover;
    background-position: center;
    z-index: -99;
}

#mainScreen::after,
#fixedTimeScreen::after,
#answerScreen::after {
    content: "";
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

#fixedTimeScreen {
    background-image: url("image/bg-4.png");
    background-size: cover;
    background-position: center;
    z-index: -99;
}

#answerScreen {
    background-image: url("image/bg-4.png");
    background-size: cover;
    background-position: center;
    z-index: -99;
}

#answerScreen::after {
    content: "";
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

#resultScreen {
    background-image: url("image/bg-2.jpg");
    background-size: cover;
    background-position: center;
    z-index: -99;
    color: #ffffff;
}

#resultScreen::after {
    content: "";
    background: rgba(2, 2, 2, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;

}

#finalRank {
    color: #000;
}

.komoku {
    color: #ccc;
}

/* スクショ禁止 */

.side-bar-accordion {
    /*
    background: linear-gradient(180deg, rgb(255 255 255), rgb(255 255 255/0.8) 20%);*/
    padding: 15px;
    margin-top: 20px;
    border-radius: 0 0 5px 5px;
    height: 320px;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
}

.accordion {
    max-width: 500px;
    margin-bottom: 7px;
    border-bottom: 2px solid #d0d0d0;
}

.accordion.closed {
    pointer-events: none;
    user-select: none;

}

.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;

}

.accordion-remain {
    color: #e01d37
}

.accordion.closed summary {
    color: #ccc;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion:not(.closed) summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .3s;
}

.accordion[open] summary::after {
    transform: rotate(225deg);
}

.accordion p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.accordion[open] p {
    transform: none;
    opacity: 1;
}

.notification-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    vertical-align: super;
    margin-left: 10px;
}

.alert-content label {
    /*display: flex;*/
    align-items: center;
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}

.alert-content input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2);
}

.time-selector {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.selector {
    text-align: center;
    margin: 0 10px;
}

.up-btn,
.down-btn {
    display: block;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
}

.value {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.number {
    font-size: 36px
}

/* culprit */

#selectCulprit {
    display: flex;
    justify-content: center;
    gap: 0;
    margin-bottom: 60px;
}

.culprit-display {
    display: inline-block;
    text-align: center;
}

#culpritPhoto {
    width: 140px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

#culpritDisplay {
    position: relative;
}

#culpritName {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    left: 0;
    margin: auto;
    font-size: 1.2em;
}

.nav-btn {
    background-color: #ccc;
    color: white;
    border-radius: 5px;
    border: none;

    height: 200px;
    margin: 0 5px;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 1.5em;
}

.nav-btn:hover {
    background-color: #999;
}

/* プレイありがとうございました */

#thankYou {
    margin-top: 60px;
    margin-bottom: 10px;
}
