/* 全体設定 */

body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
    color: #fff;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

h1, h2, h3 {
    text-align: center;
}
.titleLogo{
    margin-top: 40px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    height: fit-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-out 0s;
}

button:hover {
    background-color: #555;
}

button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 10px;
    background-color: #ff503c;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

#startButton:hover {
    background-color: #ff7464;

    #startButtonArrow {
        transform: translateX(15px) rotate(45deg);
    }
}

#startButtonArrow {
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
    transition: transform 0.05s ease;
}

select {
    margin: auto;
    padding: 10px 20px;
    background-color: #ddd;
    color: black;
    height: fit-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

table {
    margin: 20px auto;
}


/* 待機シーン */

#startButton {
    margin-top: 50px;
}


/* 背景設定 */

.notebook {
    width: 80%;
    max-width: 800px;
    height: 500px;
    z-index: 99;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.notebook.open:not(.hidden) {
    display: flex;
}

.notebook.closed {
    background-color: #000;
    color: white;
    text-align: center;
    justify-content: center;
}

.notebook.open::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 1px;
    height: calc(100% - 100px);
    background-color: #999;
}

.notebook.open .left, .notebook.open .right {
    width: 45%;
}

.notebook.open .right {
    padding-top: 50px;
}

.select-label {
    display: inline;
}

.timer-score {
    font-size: 1.2em;
    text-align: center;
    background-color: #eee;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.sticky-note {
    background-color: #ffb700;
    height: 150px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    line-height:30px;
    overflow-y: auto;
}

/*.sticky-note::before {
    position: absolute;
    bottom: -5px;
    right: 7px;
    z-index: -1;
    transform: rotate(5deg);
    width: 70%;
    height: 50%;
    background-color: #ddd;
    content: '';
    filter: blur(4px);
}*/

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.hint-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
}

.hint-navigation button {
    font-size: 1em;
    color: #333;
    background-color: #ddd;
    padding: 5px;
    margin: 0 10px;
}

.hint-navigation span {
    margin-right: 10px;
    font-size: 1.2em;
}

.centered-select, .centered-slider {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 60%;
}

#remainingTime, #remainingTimeAnswer {
    display: block;
    font-size: 2.2em;
}

/* アニメーション */

@keyframes flipHalf {
    0% {
        animation-timing-function: ease-in;
        clip-path: inset(0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@keyframes flipFinal {
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0);
        animation-timing-function: ease-out;
    }
}

.notebook.flip {
    animation: flipHalf 0.3s forwards;
}

.notebook.flip-final {
    animation: flipFinal 0.3s forwards;
}


/* 表示設定用 */

.hidden {
    display: none;
}
